.icon,
.icon_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
}
.icon {
  background-color: white;
}
.icon svg {
  background-color: white;
}
.icons {
  gap: 10px;
  display: flex;
}
.icon_footer {
  border: 1px solid #ffca42;
}
.icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  aspect-ratio: 1;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
}
